.square-ctn{
  margin-top: 20px;
  min-height: 200px;
  height: auto;
  min-width: 170px;
  max-width: 200px;
  border-style: solid;
  float: left;
  margin-left: 50px;
}

.date-ctn{
  border-bottom: solid;
  margin-top: 20%;
  text-align: center;
}

.people-ctn{
  margin-top: 3%;
}